@import url('https://fonts.googleapis.com/css2?family=Asul&family=Barlow:wght@600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Fraunces:wght@700;900&family=Open+Sans:wght@400;700&display=swap');

$heading-font-family: 'Fraunces', serif;
$text-font-family: 'Barlow', sans-serif;
$base-font-size: 1rem;
$base-font-weigth: 400;

$red: red;
