@use "./abstracts" as a;
@use "./header";



.transform-article{
    @include a.articles(left);
}


body{
    max-width: 1440px;
    margin: 0 auto 0 auto;
    background-color: a.$yellow;
    color: a.$softRed;
    font-size: a.$base-font-size;
}

main{
    section{
        img{
            max-width: 1440px;
        }
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
