@use "./abstracts" as a;
@use "./header";


body{
    max-width: 1440px;
    margin: 0 auto 0 auto;
    background-color: a.$yellow;
    color: a.$softRed;
    font-size: a.$base-font-size;
}

.transform-article{
    @include a.articles(left);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
